/**************/
/* @FONT-FACE */
/**************/

/* 4x een font aanroepen: Saira Stencil, Kablammo en Cheeeze */
@font-face {
	font-family: "Cheeze";
	src: url(./fonts/Cheeeze.woff2);
}

@font-face {
	font-family: "Kablammo";
	src: url(./fonts/Kablammo.ttf);
}

@font-face {
	font-family: "Plastic";
	src: url(./fonts/Plastic.woff2);
}

@font-face {
	font-family: "SiaraStencil";
	src: url(./fonts/SairaStencil.ttf);
}





/*****************/
/* SAIRA STENCIL */
/*****************/

section:nth-of-type(1) {

	background-color:forestgreen;

	h2 {
		color:lightgoldenrodyellow;

		/* jouw code hier */
		font-family: "SiaraStencil";
		transition: 1s;
		font-variation-settings: "wght" 100, "wdth" 75;


		&:hover {
			/* jouw code hier */
			font-family: "SiaraStencil";
			font-variation-settings: "wght" 900, "wdth" 125;
		}
	}
}





/************/
/* KABLAMMO */
/************/

section:nth-of-type(2) {

	background-color:yellow;

	h2 {
		background-image:linear-gradient(in oklch,mediumblue,deeppink);
		background-clip: text;
		color:transparent;
		font-family: "Kablammo";
		font-weight:400;
		font-variation-settings: "MORF" 0;

		/* jouw code hier */
		transition: 1s;


		&:hover {
			/* jouw code hier */
			font-family: "Kablammo";
			font-variation-settings: "MORF" 60;

		}
	}
}





/***********/
/* PLASTIC */
/***********/

section:nth-of-type(3) {

	background-color:mediumvioletred;

	h2 {
		color:white;

		/* jouw code hier */
		font-family:"plastic";
		font-weight:150;
		font-variation-settings:"SRIF" 100;
		transition: 1s;


		&:hover {
			/* jouw code hier */
			font-weight:900;
			font-variation-settings:"SRIF" 1000;

		}
	}
}





/***********/
/* CHEEEZE */
/***********/

section:nth-of-type(4) {

	background-color:mediumblue;

	h2 {
		background-image: url("images/gatenkaas.jpg");
		background-size:2em auto;
		background-position:center center;
		background-clip:text;
		color:transparent;
		font-weight:400;

		/* jouw code hier */
		font-family: "Cheeze";
		font-variation-settings: "yest" 500, "grvt" 0, "temp" 0;
		font-weight:400;

		transition:1s;


		&:hover {
			/* jouw code hier */
			font-variation-settings: "yest" 500, "grvt" 1000, "temp" 1000;

		}
	}
}






















/*************************************/
/* BASIS - HOEF JE NIETS MEE TE DOEN */
/*************************************/

@layer basis {
	
	* {
		box-sizing:border-box;
	}

	html {
		color-scheme:light dark;	
	}
	
	body {
		display:grid;
		place-content:safe center;
		text-align:center;
	}
	
	h1 {
		width:min-content;
		margin:.2em auto;
		font-size:clamp(2.5rem, 2rem + 2.5vw, 3.5rem);
	}

	main {
		font-size:clamp(1rem, 0.5rem + 2.5vw, 2rem);

		display:grid;
		justify-content:center;
		justify-items:center;
		gap:1em;

	}

	section {
		border-radius:2rem;
		corner-shape:squircle;
		justify-self:center;
		padding:2rem;
	}

	h2 {
		margin:0;
		font-size: clamp(2.5rem, 0.75rem + 8.75vw, 6rem);
		line-height:1;
	}
}