@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  color-scheme: light dark;
  font-family: "Comic Relief", system-ui;
  margin: 0;
}

.webTITEL {
  margin: 0px;
}

/* Bronnen voor de RealHeader tekst: 
  stackoverflow: https://stackoverflow.com/questions/68516890/how-to-smoothly-loop-css-gradient-on-text-so-it-appears-to-loop-infinitely
  w3schools: https://www.w3schools.com/css/css3_gradients.asp
  w3schools: https://www.w3schools.com/css/css3_animations.asp
  Instagram color picker: https://pickcoloronline.com/brands/instagram/
*/
.RealHeader {
  text-align: center;
  display: block;
  font-size: 7vw;
  font-style: normal;
  background-image: linear-gradient(to right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d,
  #f56040, #f77737, #fcaf45, #ffdc80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
  margin-bottom: 0px;
}

@keyframes move {
	to {
		background-position: 2300vh;
	}
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: baseline;
  border-bottom: 2px dotted #f56040;
  animation: mymove 10s infinite



}

@keyframes mymove {
  50% {border-bottom: 10px dotted #833ab4;
  }
}


.HamburgerMENU {
  cursor: pointer;
}

/* Hamburger knop is standaard ONZICHTBAAR op desktop */
.HBNAVContent { /* Hamburger Menu */
  display: block;
  padding: 15px;
}

.HBLINE1, .HBLINE2 { /* Hamburger Menu Style */
  background-color: CanvasText;
  padding: 3px 20px;
  margin: 4px 0px;
  border-radius: 2px;
}

.NavOVERLAY { /*Bron van de Overlay: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay2*/
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow: hidden;
  transition: 0.5s;

  display: flex;
  justify-content: center;
}

.Nav-overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  display: block;
}

.NavOVERLAY a {
  text-decoration: none;
  font-size: 36px;
  transition: 0.3s;
}

.NavOVERLAY a:hover, .NavOVERLAY a:focus {
  color: #f1f1f1;
}

.NavOVERLAY .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.listSTYLE { /* Nav links */
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding: 2.5rem;
}

.listLINK {
  text-decoration: none;
  display: block;
}

/* --- MOBIELE RESPONSIVE STIJLEN (Schermen smaller dan 768px) --- */
@media screen and (max-width: 768px) {
  .nav {
    justify-content: end;
    padding: 0 15px;
  }

  .HBNAV {
    display: block; 
  }

  .navLIST {
    display: none; 
    flex-direction: column;
    width: 100%;
    left: 0;
    }

  /* Pas de stijl van de lijstitems aan voor mobiel onder elkaar */
  .listSTYLE {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #bbbbbb;
    width: 100%;
  }

  .listSTYLE:not(:last-child) {
    border-right: none; /* Randen aan de zijkant weghalen */
  }

  .listLINK {
    padding: 1em; /* Minder padding zodat het op een telefoonscherm past */
  }
}

.modelrepoCONTAINER {
  display: flex;
  justify-content: end;
}

.modelREPO {
  font-size: 12px;
  font-style: normal;
  color: #bbbbbb;
  margin: 0px 15%;
}

.Kopje1CONTAINER {
  margin-bottom: 2vw;
}

.Kopje1 {
  
}

.LogCONTAINER{
  /*border: 1px solid #bbbbbb;*/
  margin: 0px 18%;
}

/* Bronnen voor de DropDown:
  w3schools: https://www.w3schools.com/css/css_dropdowns_advanced.asp
*/
.DropDown {
  position: relative;
}

.DropDownContent {
  display: none;
  position: relative;
  min-width: 160px;
}

.DropDown:hover .DropDownContent {
  display: block;
}

/* Bronnen voor de Gallery:
  w3schools: https://www.w3schools.com/howto/howto_css_image_gallery.asp
  w3schools: https://www.w3schools.com/css/css3_columns.asp
  https://kulor.medium.com/pinterest-style-masonry-layout-using-pure-css-493c1206d01d
*/
.AugustCONTAINER, .September2CONTAINER {
  margin-bottom: 4vw;
}

.AugustVraag1, .AugustVraag2, .AugustVraag3 {
  margin-bottom: 1.5vw;
}

.Kopje3, h2, p{
  margin: 0px;
}

.SeptemberContent {
  /*column-count: 3;
  column-gap: 10px;*/
}

.gallery {
  border: 1px solid #bbbbbb;
  margin: 5px 5px;
}

.gallery img{
  width: 500px;
  height: 600px;
}

.responsiveGALLERY {
  display: inline-flex;
}