@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme:light dark;
  --background: light-dark(white, black);
  --color-LightDark: light-dark(black, white);
  --background-Dark: linear-gradient(to right, black, black, white, white, white);
  --background-Light: linear-gradient(to right, white, white, black, black, black);
}


body {
  font-family: "Comic Relief", system-ui;
  margin: 0;
  background-color: var(--background);
}


/* =======================================*/
/* ============ Intro.html ===============*/
/* =======================================*/


html:has( [value="auto"]:checked) {
	color-scheme:auto;
  .IntroRealHeader {
    /*box-shadow: 0px 12px 8px #ffffff, 0px -10px 8px #ffffff;*/
    background-image: var(--background-Dark, --background-Light);
    color: var(--color-LightDark);
    /*background-image: linear-gradient(to right, black, black, white, white, white );*/
  }
}

/* Light Mode */
html:has( [value="light"]:checked) {
  color-scheme:light;
  .IntroRealHeader {
    /*box-shadow: 0px 12px 8px #000000, 0px -10px 8px #000000;*/
    background-image: linear-gradient(to right, white, white, black, black, black);
      text-shadow: 0px 0px 21px black;
  }

  .IntroHeaderShadow {
    background-clip: content-box;
    background-image: linear-gradient(to right, #bbbbbb, white, white, black, black);
    animation: INTROmove 40s linear infinite;
    box-shadow: 0px 1rem 2rem black;
    border-radius: 25%;
  }

  .IntroRealHeader:hover {
    text-shadow: 0px 0px 0px black;
    font-size: 5vw;
  }
}

/* Dark Mode */
html:has( [value="dark"]:checked) {
	color-scheme:dark;
  .IntroRealHeader {
    /*box-shadow: 0px 12px 8px #ffffff, 0px -10px 8px #ffffff;*/
    background-image: linear-gradient(to right, black, black, white, white, white);
    text-shadow: 0px 0px 21px white;
  }

  .IntroRealHeader:hover {
    text-shadow: 0px 0px 0px white;
    font-size: 5vw;
  }
}

.DarkLightMode {
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}

.IntroHeaderContainer {
  display: flex;
  justify-content: center;
  padding-top: 20%;
}

.IntroRealHeader {
  cursor: pointer;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: INTROmove 40s linear infinite;
  /*animation: pulse 6s infinite;*/
  font-size: 4vw;
  /*background-image: linear-gradient(to right, #bbbbbb, #bbbbbb, #bbbbbb, #bbbbbb, white);*/
}

.IntroLINK {
  text-decoration: none;
  color: black;
}


.IntroRealHeader:hover {
  text-shadow: 0px 0px 0px transparent;
  font-size: 5vw;
}

.IntroRealHeader:active {
  text-shadow: 0px 0px 0px transparent;
  font-size: 5vw;
}

@keyframes INTROmove {
	to {
		background-position: 100vh;
	}
}

/* Pulse animatie */
/*@keyframes pulse {
  0% {
    transform: scale(1,1);
    } 100% {
      transform: scale(3,3);
    }
}*/

.IntroHeaderShadow {
  display: flex;
  justify-content: center;
  margin: 0px 25%;
  margin-bottom: 25%;
  color: transparent;
  font-size: 1px;

  background-clip: content-box;
  background-image: linear-gradient(to right, #bbbbbb, black, black, white, white);
  animation: INTROmove 40s linear infinite;
  box-shadow: 0px 1rem 2rem white;
  border-radius: 25%;
}

/* =======================================*/
/* ============ Index.html ===============*/
/* =======================================*/
.webTITEL {
  margin: 0px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  align-items: baseline;
}

/* Bronnen voor de RealHeader tekst: 
  stackoverflow: https://stackoverflow.com/questions/68516890/how-to-smoothly-loop-css-gradient-on-text-so-it-appears-to-loop-infinitely
  w3schools: https://www.w3schools.com/css/css3_gradients.asp
  w3schools: https://www.w3schools.com/css/css3_animations.asp
  Instagram color picker: https://pickcoloronline.com/brands/instagram/
*/
.RealHeader {
  text-align: center;
  display: block;
  font-size: 7vw;
  font-style: normal;
  margin-bottom: 0px;
  transition: padding 20s, box-shadow 8s; /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_transition2*/
}
.RealHeader:hover {
  background-image: linear-gradient(to right, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d,#f56040, #f77737, #fcaf45, #ffdc80);
  box-shadow: -15px -10px 8px #FF7A00, 20px -20px 8px #FF0069, -15px 10px 8px #D300C5, 20px 20px 8px #7638FA; /*https://www.w3schools.com/cssref/tryit.php?filename=trycss3_box-shadow*/
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
  cursor: pointer;
}

@keyframes move {
	to {
		background-position: 2300vh;
	}
}

.borderLINE {
  border-bottom: 2px dotted #fd1d1d;
  animation: mymove 10s infinite;
}

@keyframes mymove {
  25% {border-bottom: 5px dotted #f56040;
  }
  75% {
    border-bottom: 11px dotted #7638FA;
  }}

.HBNAVContent { /* Hamburger Menu */
  display: block;
  padding: 15px;
  cursor: pointer;
}

.HBLINE1, .HBLINE2 { /* Hamburger Menu Style */
  background-color: CanvasText;
  padding: 3px 20px;
  margin: 4px 0px;
  border-radius: 2px;
}

.NavOVERLAY { /*Bron van de Overlay: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay2*/
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow: hidden;
  transition: 0.5s;

  display: flex;
  justify-content: center;
}

.Nav-overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  display: block;
}

.NavOVERLAY a {
  text-decoration: none;
  font-size: 36px;
  transition: 0.3s;
}

.NavOVERLAY a:hover, .NavOVERLAY a:focus {
  color: #f1f1f1;
}

.NavOVERLAY .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.listSTYLE { /* Nav links */
  display: flex;
  justify-content: center;
  font-size: 1em;
  padding: 2.5rem;
  transition: border-bottom 1.5s;
}

.listSTYLE:hover {
  border-bottom: 8px solid white;
}

.listLINK {
  text-decoration: none;
  display: block;
}

/* --- MOBIELE RESPONSIVE STIJL --- */
@media screen and (max-width: 768px) {
  .nav {
    justify-content: end;
    padding: 0 15px;
  }

  .HBNAV {
    display: block; 
  }

  .navLIST {
    display: none; 
    flex-direction: column;
    width: 100%;
    left: 0;
  }
  .listSTYLE {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ffadff;
    width: 100%;
  }

  .listSTYLE:not(:last-child) {
    border-right: none;
  }

  .listLINK {
    padding: 1em;
  }
}

.modelrepoCONTAINER {
  display: flex;
  justify-content: end;
}

.modelREPO {
  font-size: 12px;
  font-style: normal;
  color: #bbbbbb;
  margin: 0px 15%;
}


.ShowCaseContainer { /*https://www.w3schools.com/css/css3_images.asp */
  display: flex;
  justify-content: space-evenly;

  margin-top: 1rem;
}

.WorkShowCase1, .WorkShowCase2, .WorkShowCase3, .WorkShowCase4, .WorkShowCase5 {
  display: flex;
  justify-content: center;
  width: 100%;
  transition: padding 5s, box-shadow 5s;
}

.WorkShowCase1:hover, .WorkShowCase2:hover, .WorkShowCase4:hover, .WorkShowCase5:hover {
  box-shadow: 0px 5px 2px gold;
}

.SpanShowCase3 {
}

.SC-Titel-H2 {
  font-size: 4vw;
  margin: 0px;
  text-align: center;
}

.SC-Titel-H2:hover {
  text-shadow: -3px 0px 2px #FF7A00, 2px -4px 2px #FF0069, 1px 4px 2px #D300C5, 6px 0px 2px #7638FA;
  cursor: pointer;
}











/* =======================================*/
/* ============ Logs.html ===============*/
/* =======================================*/
.LogCONTAINER{
  /*border: 1px solid #bbbbbb;*/
  margin: 0px 18%;
}

/* Bronnen voor de DropDown:
  w3schools: https://www.w3schools.com/css/css_dropdowns_advanced.asp
*/
.DropDown {
  position: relative;
}

.DropDownContent {
  display: none;
  position: relative;
  min-width: 160px;
}

.DropDown:hover .DropDownContent {
  display: block;
}

/* Bronnen voor de Gallery:
  w3schools: https://www.w3schools.com/howto/howto_css_image_gallery.asp
  w3schools: https://www.w3schools.com/css/css3_columns.asp
  https://kulor.medium.com/pinterest-style-masonry-layout-using-pure-css-493c1206d01d
*/
.AugustCONTAINER, .September2CONTAINER {
  margin-bottom: 4vw;
}

.AugustVraag1, .AugustVraag2, .AugustVraag3 {
  margin-bottom: 1.5vw;
}

.Kopje3, h2, p{
  margin: 0px;
}

.SeptemberContent {
  /*column-count: 3;
  column-gap: 10px;*/
}

.gallery {
  border: 1px solid #bbbbbb;
  margin: 5px 5px;
}

.gallery img{
  width: 500px;
  height: 600px;
}

.responsiveGALLERY {
  display: inline-flex;
}













/* =======================================*/
/* ============== Footer =================*/
/* =======================================*/
.fo-Copyright-tekst {
    font-family: 'Instagram Sans Headline', sans-serif;
    color:#bbbbbb;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0%;
    padding: 2%;
}