/* MARK: fonts */
@font-face {
  font-family: 'Seraphs';
  src: url('font/SeraphsVF.woff2') format('woff2'), /* Modern Browsers */
}
/* MARK: items */
body{
  font-family: 'Seraphs';
}

header {
  font-size: 24px;
  letter-spacing: 0.5px;
}

header > span > b {
  font-size: 96px;
  letter-spacing: -24px;
}

#G {
  font-size: 96px;
  letter-spacing: -7px;
}

header > strong {
  font-size: 48px;
}

main {
  display: flex;
  justify-content: center;
  align-content: center;
}
