/***********************************/
/* CODE VOOR DE FONTS - @FONT-FACE */
/***********************************/

/* jouw code hier */
/* alle fonts (@font-face's) zet je bovenaan je css */
/* kijk even naar oefening 1 hoe je @font-face gebruikt */
@font-face {
	font-family:"expletus";
	src:url("../fonts/Montserrat-Thin.ttf");
	font-weight:100; /* 400 is de code voor dikte normal */
	font-style: normal; /* hier niet perse nodig - maar goed om wel toe te voegen */
	font-display: fallback; /* dit is goed om altijd op te nemen */
}

@font-face {
	font-family:"expletus";
	src:url("../fonts/SairaCondensed-Bold.ttf");
	font-weight:700; /* 700 is de code voor dikte bold */
	font-style: normal;
	font-display: fallback;
}




/*******************************/
/* CODE VOOR HET EERSTE BLOKJE */
/*******************************/

/* hiermee selecteer je de eerste li */
li:nth-of-type(1) {
  /* h2 in het midden van de li */
  /* hoef je nu nog niet te snappen - mag wel ;-) */
  display:grid;
  place-items:center;

	
	/* jouw code hier */
  background-color: rgb(0 24 54);	
}



/* hiermee selecteer je de h2 in de eerste li */
li:nth-of-type(1) h2 {
  /* de h2 wordt zo smal als het langste woord */
	/* daardoor staat elk woord op een nieuwe regel */
	width:min-content;
	/* en dan gecentreerd */
	text-align:center;
	
	/* jouw code hier */
  font-family:"expletus";
  font-size: 3rem;
	font-weight:100; /* 700 is de code voor dikte bold */
  color: hsl(0 0% 100%);
  line-height: .8em;
  text-transform: uppercase;
  text-shadow: 0 0 0.2em cyan, 0 0 0.4em cyan, 0 0 0.4em cyan;
}





/*******************************/
/* CODE VOOR HET TWEEDE BLOKJE */
/*******************************/

li:nth-of-type(2) {
	/* h2 in het midden van de li */
  display:grid;
  place-items:center;

	/* jouw code hier */
  background-color: rgb(230 127 138);

	
} 



li:nth-of-type(2) h2 {
  width:min-content;
	text-align:center;
	
	/* jouw code hier */
  font-family:"expletus";
	font-weight:700; /* 700 is de code voor dikte bold */
  font-size: 3.5em;
  line-height: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: .1em .1em 0 rgb(0 0 0 / .5);
  transform: skewY(-10deg);
  color: white;

}










/*************************************/
/* BASIS - HOEF JE NIETS MEE TE DOEN */
/*************************************/

@layer basis {
  *, *::after, *::before {
    box-sizing:border-box;  
  }
  
  header, main {
		width:min(100%, 30rem);
    margin-inline:auto;
  }

  ul {
    margin:0;
    padding:0;
    list-style-type:"";
    display:grid;
    gap:var(--template-size-whitespace);
  }

  li {
    height:clamp(14em, 80vw, 18em);
    background-color:white;
		border-radius:1em;
		color:black;
  } 
}